<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>疫情监控</title>
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/china.js"></script>
        <script src="../static/js/echarts-wordcloud.min.js"></script>
        <link href="../static/css/main.css" rel="stylesheet"/> <!-- 引入css样式表 -->
    </head>
    <body>
        <div id="title">全国疫情实时追踪</div>
        <div id="tim"></div>
        <div id="l1">我是左1</div>
        <div id="l2">我是左2</div>
        <div id="c1">
            <div class="num"><h1></h1></div>
            <div class="num"><h1></h1></div>
            <div class="num"><h1></h1></div>
            <div class="num"><h1></h1></div>
            <div class="txt"><h2>累计确诊</h2></div>
            <div class="txt"><h2>剩余疑似</h2></div>
            <div class="txt"><h2>累计治愈</h2></div>
            <div class="txt"><h2>累计死亡</h2></div>
        </div>
        <div id="c2">我是中2</div>
        <div id="r1">我是右1</div>
        <div id="r2">我是右2</div>
        
        <script src="../static/js/ec_center.js"></script>
        <script src="../static/js/ec_left1.js"></script>
        <script src="../static/js/ec_left2.js"></script>
        <script src="../static/js/ec_right1.js"></script>
        <script src="../static/js/ec_right2.js"></script>
        <script src="../static/js/controller.js"></script>
        
    </body>
</html>